<template>
  <div class="row mt-4">
    <div class="col-12">
      <h1 class="col-4 row mx-auto">
        Log In
      </h1>
    </div>

    <form @submit.prevent="login()" class="col-4 mx-auto">
      <fieldset>
        <p>
          <label for="username">Username</label>
          <input id="username" type="text" v-model="username" class="form-control">
        </p>
        <p>
          <label for="password">Password</label>
          <input id="password" type="password" v-model="password" class="form-control">
        </p>
        <hr />
        <p>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Log In</button>
        </p>
      </fieldset>
    </form>
  </div>
</template>
<script>
import {api} from '@/api'

export default {
  data() { return {
    username: '',
    password: ''
  }},
  methods: {
    login() {
      api.defaults.auth = {
        username: this.username,
        password: this.password
      };

      api.get('/users/search/me').then(response => {
        if (response.data) {
          localStorage.username = this.username;
          localStorage.password = this.password;
          localStorage.role = response.data.role;
        }
        this.$router.push('/');
      });
    }
  }
}
</script>
<style scoped>
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
</style>
