<template>
  <div class="row">
    <h1 class="col-8 row text-center mx-auto">
      Comment Form
      <i v-if="comment.id" @click="remove()" class="fas fa-trash text-danger ml-auto"></i>
    </h1>

    <form @submit.prevent="save()" class="col-8 mx-auto">
      <fieldset>
        <p>
          <label for="content">Comment</label>
          <textarea id="content" v-model="comment.content" class="form-control" v-bind:class="{'error':hasError('content')}" rows="10" />
          <small v-if="hasError('content')" class="form-text text-muted error">{{getError('content')}}</small>
        </p>
        <hr />
        <p>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </p>
      </fieldset>
    </form>
  </div>
</template>
<script>
import {api ,hasError, getError} from '@/api'

export default {
  data() { return {
    comment: {
      id: null,
      content: ''
    },
    errors: []
  }},
  props: [ 'pid', 'iid' ,'cid' ],
  mounted: function() {
    if (Number.isInteger(Number.parseInt(this.cid))) {
      api.get('/comments/' + this.cid).then(response => {
        if (response.data && response.status == 200) {
          this.comment.id = response.data.id;
          this.comment.content = response.data.content;
        }
      });
    }
  },
  methods: {
    save() {
      let url = '/comments';
      let method = 'post';

      if (Number.isInteger(Number.parseInt(this.cid))) {
        url += '/' + this.cid;
        method = 'patch';
      }

      api({
        method: method,
        url: url,
        data: Object.assign({
          issue: '/api/issues/' + this.iid
        }, this.comment)
      }).then(response => {
        if (response.status < 300 && response.data.id) {
          this.errors = [];
          this.$router.push(this.successUrl());
        } else if (response.status >= 300) {
          this.errors = response.data;
        }
      });
    },
    hasError(field) {
      return hasError(this.errors, field);
    },
    getError(field) {
      return getError(this.errors, field);
    },
    remove() {
      api.delete('/comments/' + this.cid).then(response => {
        if (response.status < 300) {
          this.$router.push(this.successUrl());
        }
      });
    },
    successUrl() {
      return '/projects/' + this.pid + '/issues/' + this.iid;
    }
  }
}
</script>
