<template>
  <div>
    <div class="row m-0 mt-2">
      <h1>
        {{project.name}} / {{issue.title}}
      </h1>
    </div>
    <p>
      Created at: <Time :value="issue.createdAt"/><br/>
      Created by: {{issue.createdBy&&issue.createdBy.username}}<br/>
      Type: <span class="badge mx-1" v-bind:class="[issue.type]">{{issue.type}}</span><br/>
      State: <span class="badge mx-1" v-bind:class="[issue.state]">{{issue.state&&issue.state.replace('_', ' ')}}</span>
    </p>

    <h2 class="row m-0 mt-2">
      Description
      <router-link :to="`/projects/${pid}/issues/${iid}/edit`" class="ml-auto" v-if="['ADMIN', 'USER'].includes(role)">
        <i class="far fa-edit"></i>
      </router-link>
    </h2>
    <div class="row m-0 my-1 mb-2 p-3 bg-white border rounded shadow-sm" v-bind:class="[issue.type]">
      <FText :value="issue.description" />
    </div>

    <h2 class="row m-0 mt-2">
      Comments
      <router-link :to="`/projects/${pid}/issues/${iid}/comments/new/edit`" class="ml-auto" v-if="['ADMIN', 'USER'].includes(role)">
        <i class="fas fa-plus"></i>
      </router-link>
    </h2>
    <div class="m-0 my-1 p-3 border rounded shadow-sm comment"  v-for="c in comments" :key="c.id">
      <div class="media-body">
        <h3 class="row h5 px-3">
          {{c.createdBy&&c.createdBy.username}} (<Time :value="c.createdAt" />)
          <router-link
            v-if="c.createdBy && c.createdBy.username == username && ['ADMIN', 'USER'].includes(role)"
            :to="`/projects/${pid}/issues/${iid}/comments/${c.id}/edit`" class="ml-auto">
            <i class="far fa-edit"></i>
          </router-link>
        </h3>
        <FText :value="c.content" />
      </div>
    </div>
    <div v-if="page.hasNext" class="row mt-3" >
      <button class="btn btn-primary mx-auto" @click="loadMore">Load more...</button>
    </div>
  </div>
</template>
<script>
import {api} from '@/api'
import Time from '@/components/Time.vue'
import FText from '@/components/FText.vue'

export default {
  data() { return {
    project: {},
    issue: {},
    comments: [],
    page:{
      size: 0,
      totalElements: 0,
      totalPages: 0,
      number: -1,
      hasNext: false
    }
  }},
  computed: {
    username() {
      return localStorage.username;
    },
    role() {
      return localStorage.role;
    }
  },
  props: {
    pid: String,
    iid: String
  },
  mounted: function() {
    api.get('/projects/' + this.pid + '?projection=audit').then(response => {
      if (response.data) {
        this.project =  response.data;
      }
    });

    api.get('/issues/' + this.iid + '?projection=audit').then(response => {
      if (response.data) {
        this.issue =  response.data;
      }
    });

    this.loadMore();
  },
  methods: {
    loadMore() {
      api.get('/comments/search/findAllByIssue?issue=/api/issues/' + this.iid + '&projection=audit' + '&page=' + (this.page.number + 1)).then(response => {
        if (response.data._embedded) {
          this.comments = this.comments.concat(response.data._embedded.comments);
          this.page = response.data.page;
          this.page.hasNext = !!response.data._links.next;
        }
      });
    }
  },
  components: {
    Time,
    FText
  }
}
</script>
