<template>
  <div class="row">
    <h1 class="col-8 row text-center mx-auto">
      Issue Form
      <i v-if="issue.id" @click="remove()" class="fas fa-trash text-danger ml-auto"></i>
    </h1>

    <form @submit.prevent="save()" class="col-8 mx-auto">
      <fieldset>
        <p>
          <label for="title">Title</label>
          <input id="title" type="text" v-model="issue.title" class="form-control" v-bind:class="{'error':hasError('title')}">
          <small v-if="hasError('title')" class="form-text text-muted error">{{getError('title')}}</small>
        </p>
        <p>
          <label for="description">Description</label>
          <textarea id="description" v-model="issue.description" class="form-control border" v-bind:class="[issue.type, hasError('description')?'error':'']" rows="10" />
          <small v-if="hasError('description')" class="form-text text-muted error">{{getError('description')}}</small>
        </p>
        <p>
          <label for="priority">Priority</label>
          <input id="priority" type="text" v-model="issue.priority" class="form-control" v-bind:class="{'error':hasError('priority')}">
          <small v-if="hasError('priority')" class="form-text text-muted error">{{getError('priority')}}</small>
        </p>
        <p>
          <label for="type">Type</label>
          <select id="type" v-model="issue.type" class="form-control">
            <option value="FEATURE">Feature</option>
            <option value="TASK">Task</option>
            <option value="BUG">Bug</option>
            <option value="NOTE">Note</option>
          </select>
          <small v-if="hasError('type')" class="form-text text-muted error">{{getError('type')}}</small>
        </p>
        <p>
          <label for="state">State</label>
          <select id="state" v-model="issue.state" class="form-control">
            <option value="OPEN">Open</option>
            <option value="IN_PROGRESS">In Progress</option>
            <option value="CLOSED">Closed</option>
          </select>
          <small v-if="hasError('role')" class="form-text text-muted error">{{getError('role')}}</small>
        </p>
        <hr />
        <p>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </p>
      </fieldset>
    </form>
  </div>
</template>
<script>
import {api ,hasError, getError} from '@/api'

export default {
  data() { return {
    issue: {
      id: null,
      title: '',
      description: '',
      priority: 1,
      state: 'OPEN',
      type: 'FEATURE',
    },
    errors: []
  }},
  props: [ 'pid', 'iid' ],
  mounted: function() {
    if (Number.isInteger(Number.parseInt(this.iid))) {
      api.get('/issues/' + this.iid).then(response => {
        if (response.data && response.status == 200) {
          this.issue.id = response.data.id;
          this.issue.title = response.data.title;
          this.issue.description = response.data.description;
          this.issue.priority = response.data.priority;
          this.issue.state = response.data.state;
          this.issue.type = response.data.type;
        }
      });
    }
  },
  methods: {
    save() {
      let url = '/issues';
      let method = 'post';

      if (Number.isInteger(Number.parseInt(this.iid))) {
        url += '/' + this.iid;
        method = 'patch';
      }

      api({
        method: method,
        url: url,
        data: Object.assign({
          project: '/api/projects/' + this.pid
        },this.issue)
      }).then(response => {
        if (response.status < 300 && response.data.id) {
          this.errors = [];
          this.$router.push('/projects/' + this.pid + '/issues/' + response.data.id);
        } else if (response.status >= 300) {
          this.errors = response.data;
        }
      });
    },
    hasError(field) {
      return hasError(this.errors, field);
    },
    getError(field) {
      return getError(this.errors, field);
    },
    remove() {
      api.delete('/issues/' + this.iid).then(response => {
        if (response.status < 300) {
          this.$router.push('/projects/' + this.pid);
        }
      });
    }
  }
}
</script>
