<template>
  <div>
    <h1 class="row m-0 mt-2">{{project.name}}</h1>

    <h2 class="row m-0 mt-2">Description
      <router-link :to="`/projects/${pid}/edit`" class="ml-auto" v-if="['ADMIN'].includes(role)">
        <i class="far fa-edit"></i>
      </router-link>
    </h2>
    <div class="row m-0 my-1 p-3 bg-white border rounded shadow-sm">
      <FText :value="project.description" />
    </div>

    <h2 class="row m-0 mt-2">Issues
      <router-link :to="`/projects/${pid}/issues/new/edit`" class="ml-auto" v-if="['ADMIN', 'USER'].includes(role)">
        <i class="fas fa-plus"></i>
      </router-link>
    </h2>
    <div class="row">
      <div class="col-6" v-for="i in issues" :key="i.id">
        <div class="m-0 my-1 p-3 bg-white border rounded shadow-sm" v-bind:class="[i.type]">
          <h3 class="h5 px-3 row">
            <router-link :to="`/projects/${pid}/issues/${i.id}`">
              {{i.title}}
            </router-link>
            <router-link :to="`/projects/${pid}/issues/${i.id}/edit`" class="ml-auto" v-if="['ADMIN', 'USER'].includes(role)">
              <i class="far fa-edit"></i>
            </router-link>
          </h3>

          <p>
            Type: <span class="badge mx-1" v-bind:class="[i.type]">{{i.type}}</span>
            State: <span class="badge mx-1" v-bind:class="[i.state]">{{i.state&&i.state.replace('_', ' ')}}</span>
          </p>
          <p>
            <FText :value="i.description" limit="200" />
          </p>
        </div>
      </div>
    </div>
    <div v-if="page.hasNext" class="row mt-3" >
      <button class="btn btn-primary mx-auto" @click="loadMore">Load more...</button>
    </div>
  </div>
</template>
<script>
import {api} from '@/api'
import FText from '@/components/FText.vue'

export default {
  data() { return {
    project: {},
    issues: [],
    page:{
      size: 0,
      totalElements: 0,
      totalPages: 0,
      number: -1,
      hasNext: false
    }
  }},
  props: {
    pid: String
  },
  mounted: function() {
    api.get('/projects/' + this.pid).then(response => {
      if (response.data) {
        this.project =  response.data;
      }
    });

    this.loadMore();
  },
  methods: {
    loadMore() {
      api.get('/issues/search/findAllByProject?project=/api/projects/' + this.pid + '&projection=audit' + '&size=6&page=' + (this.page.number + 1)).then(response => {
        if (response.data._embedded) {
          this.issues = this.issues.concat(response.data._embedded.issues);
          this.page = response.data.page;
          this.page.hasNext = !!response.data._links.next;
        }
      });
    }
  },
  components: {
    FText
  },
  computed: {
    role() {
      return localStorage.role;
    }
  }
}
</script>
