<template>
  <div>
    <h1 class="row m-0 mt-2">
      Projects
      <router-link to="/projects/new/edit" class="ml-auto" v-if="['ADMIN'].includes(role)">
        <i class="fas fa-plus"></i>
      </router-link>
    </h1>

    <div class="row">
      <div class="col-6" v-for="p in projects" :key="p.id">
        <div class="m-0 my-1 p-3 bg-white border rounded shadow-sm">
          <h2 class="h5 px-3 row">
            <router-link :to="`/projects/${p.id}`">
              {{p.name}}
            </router-link>
            <router-link :to="`/projects/${p.id}/edit`" class="ml-auto" v-if="['ADMIN'].includes(role)">
              <i class="far fa-edit"></i>
            </router-link>
          </h2>
          <FText :value="p.description" limit="200" />
        </div>
      </div>
    </div>
    <div v-if="page.hasNext" class="row mt-3" >
      <button class="btn btn-primary mx-auto" @click="loadMore">Load more...</button>
    </div>
  </div>
</template>
<script>
import {api} from '@/api'
import FText from '@/components/FText.vue'

export default {
  data() {
    return {
      projects: [],
      page:{
        size: 0,
        totalElements: 0,
        totalPages: 0,
        number: -1,
        hasNext: false
      }
    }
  },
  mounted: function() {
    this.loadMore();
  },
  methods: {
    loadMore() {
      api.get('/projects?sort=name,asc' + '&size=6&page=' + (this.page.number + 1)).then(response => {
        if (response.data._embedded) {
          this.projects = this.projects.concat(response.data._embedded.projects);
          this.page = response.data.page;
          this.page.hasNext = !!response.data._links.next;
        }
      });
    }
  },
  components: {
    FText
  },
  computed: {
    role() {
      return localStorage.role;
    }
  }
}
</script>
