<template>
  <div class="row">
    <h1 class="col-8 row text-center mx-auto">
      Project Form
      <i v-if="project.id" @click="remove()" class="fas fa-trash text-danger ml-auto"></i>
    </h1>

    <form @submit.prevent="save()" class="col-8 mx-auto">
      <fieldset>
        <p>
          <label for="name">Name</label>
          <input id="name" type="text" v-model="project.name" class="form-control" v-bind:class="{'error':hasError('name')}">
          <small v-if="hasError('name')" class="form-text text-muted error">{{getError('name')}}</small>
        </p>
        <p>
          <label for="description">Description</label>
          <textarea id="description" v-model="project.description" class="form-control" v-bind:class="{'error':hasError('description')}" rows="10" />
          <small v-if="hasError('description')" class="form-text text-muted error">{{getError('description')}}</small>
        </p>
        <hr />
        <p>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </p>
      </fieldset>
    </form>
  </div>
</template>
<script>
import {api ,hasError, getError} from '@/api'

export default {
  data() { return {
    project: {
      id: null,
      name: '',
      description: ''
    },
    errors: []
  }},
  props: [ 'pid' ],
  mounted: function() {
    if (Number.isInteger(Number.parseInt(this.pid))) {
      api.get('/projects/' + this.pid).then(response => {
        if (response.data && response.status == 200) {
          this.project.id = response.data.id;
          this.project.name = response.data.name;
          this.project.description = response.data.description;
        }
      });
    }
  },
  methods: {
    save() {
      let url = '/projects';
      let method = 'post';

      if (Number.isInteger(Number.parseInt(this.pid))) {
        url += '/' + this.pid;
        method = 'patch';
      }

      api({
        method: method,
        url: url,
        data: this.project
      }).then(response => {
        if (response.status < 300 && response.data.id) {
          this.errors = [];
          this.$router.push('/projects/' + response.data.id);
        } else if (response.status >= 300) {
          this.errors = response.data;
        }
      });
    },
    hasError(field) {
      return hasError(this.errors, field);
    },
    getError(field) {
      return getError(this.errors, field);
    },
    remove() {
      api.delete('/projects/' + this.pid).then(response => {
        if (response.status < 300) {
          this.$router.push('/projects');
        }
      });
    }
  }
}
</script>
