<template>
  <div class="row">
    <div class="col-12">
      <h1 class="col-4 row mx-auto">
        User Form
      </h1>
    </div>

    <form @submit.prevent="save()" class="col-4 mx-auto">
      <fieldset>
        <p>
          <label for="username">Username</label>
          <input id="username" type="text" v-model="user.username" class="form-control" v-bind:class="{'error':hasError('username')}">
          <small v-if="hasError('username')" class="form-text text-muted error">{{getError('username')}}</small>
        </p>
        <p>
          <label for="password">Password</label>
          <input id="password" type="password" v-model="user.password" class="form-control" v-bind:class="{'error':hasError('password')}">
          <small class="form-text text-muted">
            If left empty password won't be changed.
          </small>
          <small v-if="hasError('password')" class="form-text text-muted error">{{getError('password')}}</small>
        </p>
        <p>
          <label for="role">Role</label>
          <select id="role" v-model="user.role" class="form-control">
            <option value="ADMIN">Admin</option>
            <option value="USER">User</option>
            <option value="OBSERVER">Observer</option>
          </select>
          <small v-if="hasError('role')" class="form-text text-muted error">{{getError('role')}}</small>
        </p>
        <p>
          <input id="enabled" type="checkbox" v-model="user.enabled" class="m-1">
          <label for="enabled">Enabled</label>
          <small v-if="hasError('enabled')" class="form-text text-muted error">{{getError('enabled')}}</small>
        </p>
        <hr />
        <p>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </p>
      </fieldset>
    </form>
  </div>
</template>
<script>
import {api ,hasError, getError} from '@/api'

export default {
  data() { return {
    user: {
      id: null,
      username: '',
      password: '',
      role: 'USER',
      enabled: true
    },
    errors: []
  }},
  props: [ 'uid' ],
  mounted: function() {
    if (Number.isInteger(Number.parseInt(this.uid))) {
      api.get('/users/' + this.uid).then(response => {
        if (response.data && response.status == 200) {
          this.user.id = response.data.id;
          this.user.username = response.data.username;
          this.user.role = response.data.role;
          this.user.enabled = response.data.enabled;
        }
      });
    }
  },
  methods: {
    save() {
      let url = '/users';
      let method = 'post';

      if (Number.isInteger(Number.parseInt(this.uid))) {
        url += '/' + this.uid;
        method = 'patch';
      }

      // This should prevent empty password sending as API has problem with this.
      let user = {
        username: this.user.username,
        role: this.user.role,
        enabled: this.user.enabled
      };
      if (this.user.password) {
        user['password'] = this.user.password;
      }

      api({
        method: method,
        url: url,
        data: user
      }).then(response => {
        if (response.status < 300 && response.data.id) {
          this.errors = [];
          this.$router.push('/users');
        } else if (response.status >= 300) {
          this.errors = response.data;
        }
      });
    },
    hasError(field) {
      return hasError(this.errors, field);
    },
    getError(field) {
      return getError(this.errors, field);
    }
  }
}
</script>
