<template>
  <div>
    <h1 class="row m-0 mt-2">
      Users
      <router-link to="/users/new/edit" class="ml-auto" v-if="['ADMIN'].includes(role)">
        <i class="fas fa-plus"></i>
      </router-link>
    </h1>

    <div class="row">
      <div class="col-6" v-for="u in users" :key="u.id">
        <div class="m-0 my-1 p-3 bg-white border rounded shadow-sm">
          <router-link :to="`/users/${u.id}/edit`" v-if="['ADMIN'].includes(role)">
            <h2 class="h5">{{u.username}}</h2>
          </router-link>
          <h2 class="h5" v-else>{{u.username}}</h2>
          Role: {{u.role}}<br/>
          Status: {{u.enabled?'Enabled':'Disabled'}}
        </div>
      </div>
    </div>
    <div v-if="page.hasNext" class="row mt-3" >
      <button class="btn btn-primary mx-auto" @click="loadMore">Load more...</button>
    </div>
  </div>
</template>
<script>
import {api} from '@/api'

export default {
  data() {
    return {
      users: [],
      page:{
        size: 0,
        totalElements: 0,
        totalPages: 0,
        number: -1,
        hasNext: false
      }
    }
  },
  mounted: function() {
    this.loadMore();
  },
  methods: {
    loadMore() {
      api.get('/users?sort=username,asc' + '&size=6&page=' + (this.page.number + 1)).then(response => {
        if (response.data._embedded) {
          this.users = this.users.concat(response.data._embedded.users);
          this.page = response.data.page;
          this.page.hasNext = !!response.data._links.next;
        }
      });
    }
  },
  computed: {
    role() {
      return localStorage.role;
    }
  }
}
</script>
