<template>
  <pre class="m-0">{{text}}</pre>
</template>
<script>
export default {
  props: ['value' ,'limit'],
  computed: {
    text: function() {
      if (this.limit) {
        return this.value.substring(0, this.limit);
      }
      return this.value;
    }
  }
}
</script>
<style scoped>
pre {
  white-space: pre-wrap;
}
</style>
