<template>
  <nav class="nav pt-1" v-if="isNotLoginPath">
    <router-link to="/" class="nav-link">Home</router-link>
    <router-link to="/projects" class="nav-link">Projects</router-link>
    <router-link to="/users" class="nav-link">Users</router-link>

    <router-link v-if="isNotRootPath" :to="backPath" class="nav-link">Back</router-link>

    <router-link to="/logout" class="nav-link ml-auto">Logout</router-link>
  </nav>
</template>
<script>

function stepBack(path, step) {
  for (let i = 0; i < step; i++) {
    path = path.substring(0, path.lastIndexOf('/'));
  }

  return path ? path : '/';
}

export default {
  computed: {
    backPath: function() {
      let path = this.$route.path;
      let depth = path.split('/').length - 1;
      let isCreationPath = path.indexOf('/new') != -1;
      let isUserPath = path.indexOf('/user') != -1;
      let step = 1;

      if (depth == 3 && (isCreationPath || isUserPath)) {
        step = 2
      } else if (depth == 4) {
        step = 2;
      } else if (depth == 5 && isCreationPath) {
        step = 3;
      } else if (depth == 7) {
        step = 3;
      }

      return stepBack(path, step);
    },
    isNotRootPath: function() {
      let path = this.$route.path;

      return '/' != path &&  '/projects' != path;
    },
    isNotLoginPath: function() {
      return this.$route.path != '/login';
    }
  }
}
</script>
