<template>
  <span>{{computedTime}}</span>
</template>
<script>
import moment from 'moment'

export default {
  props: ['value'],
  computed: {
    computedTime: function() {
      return moment(this.value).fromNow();
    }
  }
}
</script>
