.lh-condensed {
  line-height: 1.25;
}

/* Issues */
.FEATURE, .TASK, .BUG, .NOTE {
  border-left-width: .25rem !important;
}

.FEATURE {
  /* + */
  border-left-color: #28a745 !important;
}
.TASK {
  /* # */
  border-left-color: #ffc107 !important;
}
.BUG {
  /* ! */
  border-left-color: #dc3545 !important;
}
.NOTE {
  /* * */
  border-left-color: gray !important;
}

.badge.FEATURE {
  /* + */
  color: white;
  background-color: #28a745;
  border: 1px solid #28a745;
}
.badge.TASK {
  /* # */
  color: black;
  background-color: #ffc107;
  border: 1px solid #ffc107;
}
.badge.BUG {
  /* ! */
  color: white;
  background-color: #dc3545;
  border: 1px solid #dc3545;
}
.badge.NOTE {
  /* * */
  color: white;
  background-color: gray;
  border: 1px solid gray;
}

/* Issue */
.comment {
  background: #fff7dd;
  border-color: #fff1c9;
}

.badge.OPEN {
  color: #28a745;
  background-color: white;
  border: 1px solid gray;
}

.badge.IN_PROGRESS {
  color: white;
  background-color: #28a745;
  border: 1px solid #28a745;
}

.badge.CLOSED {
  color: gray;
  background-color: white;
  border: 1px solid gray;
}

.error {
  border-color: red !important;
}

small.error {
  color: red !important;
}

i.fas {
  cursor: pointer;
}
