<template>
  <div id="app" class="container">
    <Nav />

    <router-view />

    <footer class="pt-5 text-muted text-center text-small">
      Master Thesis Demonstration Project<br/>
      2018. Igor Gere e9969<br/>
      <br/>
    </footer>
  </div>
</template>
<script>
import '@fortawesome/fontawesome-free/css/all.css'
import 'bootstrap/dist/css/bootstrap.min.css'
import '@/assets/style.css'
import Nav from '@/components/Nav.vue'

export default {
  name: 'app',
  components: {
    Nav
  }
}
</script>
<style scoped>
.container {
  max-width: 960px;
}
</style>
